.button {
  height: 44px;
  padding: 10px 20px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-common-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius-3xl);
  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: var(--color-primary-hover);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
