.textContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-5);
  font-size: var(--font-size-xl);
  word-wrap: break-word;
  overflow: hidden;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}
