.canvasWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.canvas {
  width: 1920px;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  background-color: var(--color-canvas);
  border-radius: 2rem;
  overflow: hidden;
  margin: 0 auto;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    text {
      text-rendering: optimizeSpeed;
    }

    * {
      will-change: auto;
    }
  }
}
