.canvasWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  align-items: center;
}

.canvas {
  width: var(--canvas-width);
  max-width: 100%;
  aspect-ratio: 16 / 9;
  background-color: var(--color-canvas);
  border-radius: var(--border-radius-4xl);
  overflow: hidden;
  margin: 0 auto;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    text {
      text-rendering: optimizeSpeed;
    }

    * {
      will-change: auto;
    }
  }
}
